html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
}

/* Linea gruesa bajo nombre*/
hr {
  border-color: #000000;
  border-width: 3px;
  max-width: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}


/* Pepito Perez de arriba izqda*/
.navbar-default .navbar-header .navbar-brand {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

/* Menu*/
.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
}

/* Navbar hasta la 101 mobile*/
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #222222;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #000000;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #000000;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}

/* Navbar mediaqueries*/

@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
  }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #F05F40;
    font-size: 14px;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #eb3812;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #F05F40;
  }
}

/* Div de nombre y profesión */
header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/design01.jpg');
  text-align: center;
  color: #000000;
}

/* Texto de nombre y profesión posición*/
header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}

/* Texto de nombre */
header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}

/* Linea de nombre */
header .header-content .header-content-inner hr {
  margin: 20px auto;
}

/* Linea de profesion */
header .header-content .header-content-inner p {
  font-weight: 500;
  color: #222222;
  font-size: 16px;
  margin-bottom: 50px;
}

/* Nombre y profesion en mediaqueries*/

@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.btn-default {
  color: #222222;
  background-color: white;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #222222;
  background-color: #f2f2f2;
  border-color: #ededed;
}

.contacto  {
  	position: relative;
    width: 100%;
  	text-align: center;
	height: auto;
	background-size: cover;
	background-position: center;
  	background-image: url('../img/contact.jpeg');
}
.contacto h1 {
  	color:#ffffff; 
	font-weight: 400;
  	font-size: 18px;
  	margin-top: 40px;
}

.contacto p {
	color:#ffffff;
	font-weight: 300;
  	font-size: 14px;
  	margin-bottom: 10px;
}
.contacto a {
  	margin-bottom: 30px;
}

@media (min-width: 768px) {
.contacto  {
  	position: relative;
    width: 100%;
  	text-align: center;
	 height: auto;
	 min-height:600px; 
   background-size: cover;
	 background-position: center;
  	background-image: url('../img/contact.jpeg');
}
.contacto h1 {
	color:#ffffff; 
	font-weight: 600;
  	font-size: 24px;
  	margin-top: 150px;
 
  }

.contacto p {
	color:#ffffff;
	font-weight: 400;
  	font-size: 16px;
  	margin-bottom: 10px; 
}
.contacto a {
  	margin-bottom: 30px;
}

}